@model IEnumerable<BugTrack.Models.TicketNotification>
@{
    ViewBag.Title = "Index";
}

@foreach (var notification in Model)
{
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <strong>@Html.DisplayName("Notification:")</strong>
            </div>
            <div class="col-md-8">
                <span style="color:blue">@Html.Raw(notification.Body)</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
                <strong>@Html.DisplayName("Recipient:")</strong>
            </div>
            <div class="col-md-8">
                <span style="color:blue">@notification.RecipientID</span>>
                </div>
            </div>
        </div>
}

